body {
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.app-layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.app__content {
  width: 320px;
  height: 100%;
  margin: 0 auto;
  margin-top: 56px;
  padding-top: 10px;
}

.container {
  margin-top: 56px;
  padding-top: 10px;
}

.form {
}

/* */

.GLeft {
  text-align: left;
  direction: ltr;
}

.GCentre {
  text-align: center;
}

.GRight {
  text-align: right;
  direction: rtl;
}

.Small {
  font-size: 1em;
}

.Medium {
  font-size: 1.5em;
}

.Large {
  font-size: 3em;
}

.XLarge {
  font-size: 6em;
}

a, a:visited, a:hover {
  color:#009;
  text-decoration:none;
}
a:hover {
  text-decoration: underline;
}

.textarea {
  border: 1px solid #888;
  width: 100%;
  height: 100px;
  padding: 15px;
}

.test-table {
  align: center;
  width: 100%;
  cellpadding: 20;
}


.spacer {
  height: 25px;
}


.white {
  background: white;
  width: 100%;
}

.lightgrey {
  background: lightgrey;
  width: 100%;
}
