body {
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* */

.GLeft {
  text-align: left;
  direction: ltr;
}

.GCentre {
  text-align: center;
}

.GRight {
  text-align: right;
  direction: rtl;
}

.Small {
  font-size: 1rem;
}

.Medium {
  font-size: 1.5rem;
}

.Large {
  font-size: 3rem;
}

.XLarge {
  font-size: 6rem;
}

a, a:visited, a:hover {
  color:#009;
  text-decoration:none;
}
a:hover {
  text-decoration: underline;
}

.textarea {
  border: 1px solid #888;
  width: 100%;
  height: 100px;
  padding: 15px;
}

.test-table {
  align: center;
  width: 100%;
  cellpadding: 20;
}


.spacer {
  height: 25px;
}


.white {
  background: white;
  width: 100%;
}

.lightgrey {
  background: lightgrey;
  width: 100%;
}
